@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/* ================================
   DESIGN TOKENS
================================ */
@theme {
  /* Base spacing scale (4px) */
  --spacing: 0.25rem;

  /* PRIMARY */
  --color-primary: #c49a6c;

  /* SECONDARY */
  --color-secondary: #efe3d6;

  /* BACKGROUND */
  --color-bg-app: #fff9f5;
  --color-bg-milk: #ffffff;
  --color-bg-coffee: #ddc2a9;
  --color-bg-light: #f4f4f4;

  /* TEXT */
  --color-text-main: #4a352b;
  --color-text-soft: #83695c;
  --color-text-light: #c5b3aa;
  --color-text-white: #ffffff;

  /* SURFACE */
  --color-surface-header: #f8f1ec;
  --color-surface-cart: #ffffff;

  /* BORDER */
  --color-border-soft: #ae9281;

  /* ACCENT */
  --color-accent-sale: #d97a3a;

  /* HIGHLIGHT */
  --color-highlight-citrus: #98ba3e;

  /* HOVER */
  --color-hover-primary: #b38a61;
  --color-hover-secondary: #e2d2c2;

  /* shadow */
  --shadow-card: 0 8px 24px rgba(0, 0, 0, 0.1);
  --shadow-img: 0 6px 6px rgba(0, 0, 0, 0.06);
}

/* ================================
   BASE STYLE
================================ */
@layer base {
  html {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
  }

  body {
    @apply bg-bg-milk text-text-main antialiased;
  }

  button {
    @apply cursor-pointer;
  }
}
